*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: underline;
    color:black;
    font-size: 15px;
}
ul{
    list-style-type: none;
}
a:hover{
    cursor:pointer;
}
.heder{
    background-color: white;
}